* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 60px;
}
.dark-mode-btn {
  width: 42px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 20px;

  background: #F5E9D5;
  color: #e7a93c;

  cursor: pointer;

  transition: 0.3s;
}
.dark-mode-btn icon{
  color:#D89527;
}

.dark-mode-btn:hover {
  background: #e7a93c;
  color: white;

  transform: translateY(-2px);
}
.dark.join-btn {
  background-color: #E7A93C;
  color:#1A1A1A;
}

.navbar {
  height: 75px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;

  background: #fdfcf9;

  border-bottom: none;
}
.navbar.dark{
  background-color: #121212;
  color:#e7a93c ;
} 
.navbar.dark a{
  color:#E5E5E5
}
.navbar.dark .logo{
  color:#F5F5F5
}
.navbar.dark .active{
color:#E7A93C;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #172126;

  display: flex;
  align-items: center;
  gap: 8px;
}

.logo span {
  color: #D89527;
  font-size: 25px;
}



.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
margin-left: 135px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;

  color: #172126;

  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color: #D89527;
}



.join-btn {
  padding: 12px 28px;

  border: none;
  border-radius: 8px;

  background: #E7A93C;
  color: white;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.join-btn:hover {
  background: #D89527;
}

