.logo {
  border: none;
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  color: #111;
  padding: 0;
}

.logo span {
  color: #e99a16;
}

.nav-links button {
  border: none;
  background: transparent;
  font-size: 21px;
  color: #111;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

.nav-links button:hover {
  color: #e99a16;
}

.nav-links button.active {
  color: #e99a16;
}

.dashboard-nav-btn {
  border: none !important;
  outline: none;
  background: transparent;
  box-shadow: none;
}

.dashboard-nav-btn.active {
  color: #e99a16;
}

.dashboard-nav-btn:focus {
  outline: none;
  border: none;
  box-shadow: none;
}